build/both.zip
build/jish.exe.zip
build/jish/jish.0.0.2.nupkg
build/jish/tools/jish.exe
build/js.net.dll.zip
build/js.net/js.net.0.0.2.nupkg
build/js.net/lib/js.net.dll     
build/jish/tools/Noesis.Javascript.dll
